@charset "utf-8";

@media (min-width:1200px){
}
@media (min-width:1024px)  and (max-width:1366px) {
.for_fix div.divTableCell:nth-child(1) {width: 12%;}
.scroll_bar .divTableCell:nth-child(1) {width: 12%;}
.shifting-content .divTableCell:nth-child(1) {width: 21% !important;}
.shifting-content .divTableCell:nth-child(3) {width: 25.7% !important;}
.shifting-content .divTableCell:nth-child(4) {width: 15% !important;}
.shifting-content .pro_logo span:after{display: none;}
}
@media (min-width:992px) and (max-width:1199px){
.pro_logo span:nth-child(2) {padding: 15px 20px 15px 50px;}
span.msg_content {display: block;width: 100%;}
.for_fix div.divTableCell:nth-child(1) {width: 16%;}
.for_fix div.divTableCell:nth-child(2) {width: 21%;}
.for_fix div.divTableCell:nth-child(3) {width: 40%;}
.scroll_bar .divTableCell:nth-child(1) {width: 23%;}
.scroll_bar .divTableCell:nth-child(2) {width: 32%;}
.scroll_bar .divTableCell:nth-child(3) {width: 54%;}
.for_fix div.divTableCell:nth-child(4) {width: 18%;}
.divTableCell span,.btn-action {font-size: 14px;}
.shifting-content .empty-time span {padding-left: 73px;}
.shifting-content .divTableCell:nth-child(3) {width: 26.7% !important;}
}
@media (min-width:568px) and (max-width:991px){
header .col-sm-4{padding-top: 0px;}
.top_head .top_title{font-size: 14px;}
div#myCarousel .item a {padding: 5px;font-size: 12px;}
footer {height: 40px;}
.pro_logo span:nth-child(2) {padding: 15px 20px 15px 50px;}
span.msg_content {display: block;width: 100%;}
.for_fix div.divTableCell:nth-child(1) {width: 17%;}
.for_fix div.divTableCell:nth-child(2) {width: 23%;}
.for_fix div.divTableCell:nth-child(3) {width: 35%;}
.for_fix div.divTableCell:nth-child(4) {width: 24%;}
.scroll_bar .divTableCell:nth-child(1) {width: 35%;}
.scroll_bar .divTableCell:nth-child(2) {width: 38%;}

.divTableCell span,.btn-action {font-size: 14px;}
.logo_left{width: 26%;float: left;}
.logo_center{width: 31%;float: left;}
.logo_center img{width: 110%;margin-top: 13px}
.logo_right{width: 17%;float: left;}
span.logo_img:after {right: -5px;}

.shifting-head div.divTableCell:nth-child(1) {width: 16.3% !important;}
.shifting-content .divTableCell:nth-child(1) {width: 25.5% !important;}
.shifting-content .divTableCell:nth-child(2) {width: 28.9% !important;}
.shifting-content .divTableCell:nth-child(3) {width: 25.7% !important;}
.shifting-content .divTableCell:nth-child(4) {width: 20% !important;}
.shifting-content .empty-time span {padding-left: 70px;}
.shifting-content .pro_logo span:after{display: none;}
}
@media (max-width:479px){
header .col-sm-4 img{width:100%;}
header .col-sm-4{padding-top: 0px;}
.logo_left{width: 33%;float: left;}
.logo_center{width: 33%;float: left;}
.logo_right{width: 33%;float: left;}
}
@media (min-width:641px) and (max-width:767px){
}
@media (min-width:481px) and (max-width:640px){
}
@media (max-width:480px){
}
@media (max-width:320px){
}