{% extends "index.html" %}
{% block title %}Voot Cron Display{% end %}
{% block head %}
	<meta http-equiv="Refresh" content="900">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/moment.min.js"></script>
	<script type="text/javascript" src="./js/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/daterangepicker.css" />
{% end %}
{% block body %}
        <div class="container">
	<form action="/cronstats" method="POST">
        	<div class="divTable">
				<div class="divTableRow dt_body">
                    <div class="divTableCell"><span>Date Range</span></div>
		    <div class="divTableCell"><span class="msg_content"><input class="is-pulled-right" readonly type="text" name="daterange"/></span></div>
                    <div class="divTableCell"><span><input type="submit" value="Submit" class="btn-action btn-open"></button></span></div>
                		</div><!--divTableRow-->
                </div><!--divTable-->
	</form>
	<script>
$(function() {
  $('input[name="daterange"]').daterangepicker();
});
	</script>

	{% import tornado, json, html %}
	{% for i in range(0,len(entry)) %}
		{% if i%2 == 0 %}
			<div class="row">
		{% end %}
		{% set key = "cron{0}".format(i) %}
		<div class="col-sm-6"><canvas id="chart{{i}}"></canvas></div>
		<script>
arr{{i}} = [];
{% for ac in range(0,len(entry[key]['timeseries'])) %}
arr{{i}}[{{ac}}] = "{{entry[key]['timeseries'][ac]}}";
{%end%}
var ctx = document.getElementById('chart{{i}}').getContext("2d");
var data = {
	labels: arr{{i}},
	datasets: [{
		label: "{{entry[key]['cronname']}}",
            	fill: false,
            	lineTension: 0.1,
            	backgroundColor: "rgba(75,192,192,0.4)",
            	borderColor: "rgba(75,192,192,1)",
            	borderCapStyle: 'butt',
            	borderDash: [],
            	borderDashOffset: 0.0,
            	borderJoinStyle: 'miter',
            	pointBorderColor: "rgba(75,192,192,1)",
            	pointBackgroundColor: "#fff",
            	pointBorderWidth: 1,
            	pointHoverRadius: 5,
            	pointHoverBackgroundColor: "rgba(75,192,192,1)",
            	pointHoverBorderColor: "rgba(220,220,220,1)",
            	pointHoverBorderWidth: 2,
            	pointRadius: 1,
            	pointHitRadius: 10,
		data: {{json.dumps(entry[key]['count'])}},
            	spanGaps: false,
        }]};

var options = {
	responsive: true,
	title: {
        	display: true,
            	position: "top",
		text: '{{entry[key]['cronname']}}',
            	fontSize: 12,
            	fontColor: "#fff"
        },
        legend: {
        	display: true,
           	position: "bottom",
            	labels: {
                	fontColor: "#fff",
                	fontSize: 14
            	}},
        scales:{
            	yAxes:[{
                	ticks:{
                    		min:0
                }}]}};

var myLineChart = new Chart(ctx, {
	type: 'line',
    	data: data,
    	options: options
});
		</script>
		{% if i%2 == 1 %}
			</div>
			<hr>
		{% end %}
	{%end%}
        </div><!--container-->
{% end %}
