{% extends "index.html" %}

<!-- 
	Date Time picker from http://www.daterangepicker.com/
-->

{% block title %}Date Range Select{% end %}
{% block head %}
	<script type="text/javascript" src="./js/moment.min.js"></script>
	<script type="text/javascript" src="./js/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/daterangepicker.css" />
{% end %}

{% block body %}
        <div class="container">
	<form action="/form" method="POST">
        	<div class="divTable">
            		<div class="divTableBody scroll_bar cus_scroll"  id="sc_row">
				<div class="divTableRow dt_body">
                    <div class="divTableCell"><span>Date Range</span></div>
                    <div class="divTableCell"><span class="msg_content"><input class="is-pulled-right" readonly type="text" name="daterange"/></span></div>
		    <!--<div class="divTableCell"><span></span></div>-->
                    <div class="divTableCell"><span><input type="submit" value="Submit" class="btn-action btn-open"></button></span></div>
                		</div><!--divTableRow-->
                	</div><!--divTableBody-->
                </div><!--divTable-->
	</form>
        </div><!--container-->

<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'right'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>

{% end %}
