{% extends "index.html" %} {% block title %}Digipace Git Display{% end %} {% block head %}
<meta http-equiv="Refresh" content="900">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/moment.min.js"></script>
<script type="text/javascript" src="./js/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/daterangepicker.css" /> {% end %} {% block body %}
<div class="container">
	<form action="/gitstats" method="POST">
		<div class="divTable">
			<div class="divTableRow dt_body">
				<div class="divTableCell"><span>Date Range</span></div>
				<div class="divTableCell"><span class="msg_content"><input class="is-pulled-right" readonly type="text" name="daterange"/></span></div>
				<div class="divTableCell"><span><input type="submit" value="Submit" class="btn-action btn-open"></span></div>
				<input type="hidden" value="{{ entry[1] }}" name="env">
			</div>
			<!--divTableRow-->
		</div>
		<!--divTable-->
	</form>
	<script>
		$(function() {
			$('input[name="daterange"]').daterangepicker();
		});
	</script>

	{% import tornado, json, html %}
	<div class="row">
		<div class="col-sm-3">
			<div class="divTable">
				<div class="divTableRow dt_body">
					<div class="divTableCell"><span>Click on Site for details</span></div>
				</div>
				<!--divTableRow-->
			</div>
			<!--divTable-->
			{% for i in range(0,len(entry[0]))%} {%set parentkey = "parent{0}".format(i)%} {%set key = "site{0}".format(i)%}
			<div class="divTable">
				<div class="divTableRow dt_body">
					<div class="divTableCell"><span style="height:30px; line-height:2px; padding:5px;">
							<input type="button" id="sitename" class="btn-action btn-open" style="width:100%;height:20px;" name="answer" value="{{entry[0][key]['site']}}" onclick="showDiv('{{key}}', '{{parentkey}}')" />
					</span></div>
				</div>
				<!--divTableRow-->
			</div>
			<!--divTable-->
			{% end %}
		</div>
		<div id="gitdiv" class="col-sm-9">
			{% for i in range(0,len(entry[0]))%} {%set parentkey = "parent{0}".format(i)%}
			<div id="{{parentkey}}" class="row">
				{%set key = "site{0}".format(i)%}
				<div style="display:none" id="{{key}}" class="col-sm-12">
					<table id="git" class="table table-hover">
						<thead>
							<tr>
								<th colspan="1">Site Name</th>
								<th colspan="3">{{entry[0][key]['site']}}</th>
							</tr>
							<tr>
								<th colspan="1">Git Remote</th>
								<th colspan="3">{{entry[0][key]['git-remote']}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Time</th>
								<th>Git Branch</th>
								<th>Git Commit</th>
								<th>Commit Message</th>
							</tr>
							{% for j in range(0,len(entry[0][key]['stats']))%}
							<tr>
								<td>{{entry[0][key]['stats'][j]['time']}}</td>
								<td>{{entry[0][key]['stats'][j]['git-branch']}}</td>
								<td>{{entry[0][key]['stats'][j]['git-commit']}}</td>
								<td>{{entry[0][key]['stats'][j]['git-commit-msg']}}</td>
							</tr>
							{% end %}
						</tbody>
					</table>
				</div>
			</div>
			{% end %}
		</div>
	</div>
</div>
<!--container-->
<script>
	function showDiv() {
		$('#gitdiv').children().hide();
		var parentdiv = document.getElementById(arguments[1]);
		parentdiv.style.display = "block";
		var x = document.getElementById(arguments[0]);
		if (x.style.display === "none") {
			x.style.display = "block";
		} else {
			x.style.display = "block";
		}
	}
</script>
{% end %}
