<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/font-awesome-animation.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    {% block head %}{% end %}
		<title>{% block title %}Monitoring Tools{% end %}</title>
  </head>
  <body>
    <header>
        <div class="container-fluid">
            <div class="row">
                  <div class="col-sm-1 navigation">
                    <div class="mini-submenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div class="list-group">
                        <span href="#" class="list-group-item active">
                            DevOps Home
                        </span>
                        <a href="/" class="list-group-item">
                            <i class="fa fa-home-o"></i> Home
                        </a>
                        <a href="/cronstats" class="list-group-item">
                            <i class="fa fa-bar-chart-o"></i> Voot - Cron Stats
                        </a>
                        <a href="/gitstats?env=dev" class="list-group-item">
                            <i class="fa fa-bar-chart-o"></i> Digipace - Git Stats Dev
                        </a>
                        <a href="/gitstats?env=uat" class="list-group-item">
                            <i class="fa fa-bar-chart-o"></i> Digipace - Git Stats Uat
                        </a>
                        <a href="/gitstats?env=prod" class="list-group-item">
                            <i class="fa fa-bar-chart-o"></i> Digipace - Git Stats Prod
                        </a>
                        <a href="/form" class="list-group-item">
                            <i class="fa fa-bar-chart-o"></i> Form
                        </a>
                        <!--
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment-o"></i> Lorem ipsum
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-search"></i> Lorem ipsum
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-user"></i> Lorem ipsum
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-folder-open-o"></i> Lorem ipsum <span class="badge">14</span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-bar-chart-o"></i> Lorem ipsumr <span class="badge">14</span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-envelope"></i> Lorem ipsum
                        </a>
                        -->
                    </div>
                </div>
                <div class="col-sm-3 logo_left"><img src="images/wd_logo.png" /></div>
                <div class="col-sm-4 logo_center"><img src="images/devops_logo.png" /></div>
                <div class="col-sm-3 logo_right"><img src="images/dp_logo.png" /></div>
                <div class="col-sm-1 logo_right"><i class="fa fa-chevron-circle-right"></i></div>

            </div><!--row-->
        </div><!--container-fluid-->
    </header>
    {% block body %}
    <div class="list-entry" >
        <div class="divTable">
            <div class="divTableBody for_fix">
                <div class="divTableRow top_head animated bounceInRight">
                    <div class="divTableCell top_title"><img src="images/clients.png" class="animated" />Clients</div>
                    <div class="divTableCell top_title"><img src="images/bell.png" class="faa-shake animated" /> Alert Time</div>
                    <div class="divTableCell top_title"><img src="images/send.png" class="faa-tada animated" /> Message</div>
                    <div class="divTableCell top_title action_anim"><img class="faa-spin animated" src="images/action.png" /> Actions</div>
                </div><!--divTableRow-->
            </div><!--divTableBody-->
            <div class="divTableBody scroll_bar cus_scroll"  id="sc_row">
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="images/logo1.png" /></span> </div>
                    <div class="divTableCell"><span><?php echo date("D M j G:i:s a"); ?></span></div>
                    <div class="divTableCell"><span class="msg_content">PingdomAlert DOWN:WS 3.66 (ws.wddemo.net) is down since 28-05-2017 09:13:22AM.</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-open"><p>Open</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="images/logo2.png" /></span> </div>
                    <div class="divTableCell"><span><?php echo date("D M j G:i:s a"); ?></span></div>
                    <div class="divTableCell"><span class="msg_content">PingdomAlert DOWN:Maheshwari School 201 (maheshwarischoolmhow.com) is down since 24-05-2017 04:28:43AM.</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="images/logo3.png" /></span> </div>
                    <div class="divTableCell"><span><?php echo date("D M j G:i:s a"); ?></span></div>
                    <div class="divTableCell"><span class="msg_content">PingdomAlert UP:Bugzilla (bugzilla.webdunia.net) is UP again at 07-06-2017 09:38:30PM, after 21m of downtime.</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-acknowledge"><p>Acknowledged</p></button></span></div>
                </div><!--divTableRow-->
            </div><!--divTableBody-->
        </div><!--divTable-->
    </div><!--list-entry-->

    <footer class="">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
          <div class="carousel-inner">
            <div class="item active animated slideInLeft">
              <a href="#">Open Alerts <span class="openbg">(15)</span></a>
            </div>

            <div class="item animated slideInRight">
                <a href="#">Resolve Alerts <span class="resolvebg">(58)</span></a>
            </div>

            <div class="item animated slideInRight">
              <a href="#">Acknowledged Alerts <span class="ackbg">(32)</span></a>
            </div>
          </div>
        </div>
    </footer>
            {% end %}
    <!--=================== Alert Modal ======================-->
	    <!--
    <div id="alert_modal" class="modal alert_pop animated tada">
        <div class="modal-dialog">
            <div class="modal-content alert_content ">
                <div class="modal-body">
                    <div class="icon-alert faa-flash animated"><img src="images/alert.png" /></div>
                    <div class="alert-client-name">Colors</div>
                    <p>Disk usage above 95% on host:logstash-s3-000.us-east-1.aws.prod.bsdinternal.com on {host:logstash-s3-000.us-east-1.aws.prod.bsdinternal.com}</p>
                    <div class="alert_action">
                        <button type="button" class="btn-alert ack"><p>Acknowledge</p></button>
                        <button type="button" class="btn-alert dismiss" data-dismiss="modal"><p>Dismiss</p></button>
                    </div>
                </div><!--modal-body-->
            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div>
     -->
     <!--=================== End Alert Modal ======================-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>
